.logo{
    height: 100px;
    background-image: url(logo-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:right;
  /*  animation-name: immagine;
    animation-timing-function: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count:1;
   /* transform: translateX(200px);*/
   background-color: rgb(255, 250, 250);
   
}