body{margin: 0;
margin-top: 0;
/*background: linear-gradient(to left top, blue, red);}*/
background: linear-gradient(blue,blue,white);}

header{
  background-color: rgba(58, 58, 63, 0.4);
  margin-bottom:10px;
  width: 100%;
  padding-bottom: 20px;
  
  
}
.bg-image{
  background-size:100% ;
  background-image: url(bgimage_.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contenitore_2immagine{
display: flex;
}

.seconda_immagine{
  width: 48%;
  height: 50%;
  margin-right: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 1px 8px 5px #000000; 
  box-shadow: 3px 1px 8px 5px #000000;
}

.contenitore_immagine_a_destra{
  display: inline-block;
}

.immagine_a_destra{
  margin-top: 0px;
  height: 40%;
  width: 47%;
  margin-right: 10px;
  border-radius: 20px;
  }
.video{
display: flex;
padding:5px;
flex-wrap: wrap;
justify-content: center;
}
.elemento-video{
  -webkit-box-shadow: 1px 1px 13px 6px #000000; 
  box-shadow: 1px 1px 13px 6px #000000;
  width: 30%;
  position: relative;
  height:auto;
  padding:10px;
  border-radius: 40px;  
  border:solid rgb(24, 23, 23);
  background-color:rgb(0, 60, 255, 0.6);
  margin-bottom:10px;
}

.immagine_a_destra{  
   -webkit-box-shadow: 3px 1px 8px 5px #000000;                   
   box-shadow: 3px 1px 8px 5px #000000;
 }

.link_cherimanda{
  transform: translateY(20px);
}



.divisore{
  border: solid 0.1px rgb(120, 216, 94);
}
